dash==2.17.0
dash-bootstrap-components==1.6.0
dash-bootstrap-templates==1.1.2
pandas==2.2.2
gspread==6.0.2
google-auth-oauthlib==1.2.0
plotly==5.22.0
gspread-dataframe>=3.3.0
statsmodels==0.14.2
numpy==1.26.4
gunicorn==22.0.0
google-api-python-client>=2.0.0
google-auth>=2.15.0 